*{
    margin: 0;
    padding: 0;
}

.about {
    margin-top: 6rem;
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    padding-left: 8rem;
    padding-right: 8rem;
    column-gap: 1rem;
    font-family: 'DM Mono', monospace;
    color: black;
}

/* .about-col1 {
    grid-column: 1/2;
}
.about-col2 {
    grid-column: 2/3;
}
.about-col3 {
    grid-column: 3/4;
} */
/* col1 */
.about-col1 h2 {
    position: relative;
    margin-bottom: 1rem;
    margin-left: 0;
}
.about-col1 > p,div {
    margin-bottom: 1rem;
}
.about-col1 button {
    margin-top: 2rem;
    padding: 0.5rem 0.5rem;
    background: transparent;
    border: 1px solid #FFA500;
}
.progress-bar{
    padding-top: 1rem;
    width: 100%;
}
.progress-bar > .label{
    display: inline-block;
    font-size:0.95rem;
    color:black;
    margin-bottom:0.625rem;
}
.progress-bar > .line{
    width:100%;
    height:0.3rem;
    background:#E8E8E8;
    position:relative;
}
.progress-bar > .line > .span1{
    width: 90%;
    background: black;
    position:absolute;
    left:0;
    top:25%;
    height:50%;
}
.progress-bar > .line > .span2{
    width: 75%;
    background: black;
    position:absolute;
    left:0;
    top:25%;
    height:50%;
}
.progress-bar > .line > .span3{
    width: 88%;
    background: black;
    position:absolute;
    left:0;
    top:25%;
    height:50%;
}
/* .progress-bar > .line > span:nth-child(2){
    width: 75%;
    background: black;
    position:absolute;
    left:0;
    top:25%;
    height:50%;
}
.progress-bar > .line > span:nth-child(3){
    width: 88%;
    background: black;
    position:absolute;
    left:0;
    top:25%;
    height:50%;
} */

.about-col1 h2 {
    position: relative;
    margin-bottom: 2rem;
}

.about-col1 h2::before {
    content: '';
    width: 2.5rem;
    height: 0.1rem;
    background-color: black;
    z-index: 1;
    position: absolute;
    top: 120%;
}

/* col2 */
.about-col2 .img img {
    width: 100%;
    height: auto;
    transition: all 0.7s;
}
.about-col2 .img {
    overflow: hidden;
}
.about-col2 .img:hover img{
    transform: scale(1.1);
}
.about-col2 > h2,p {
    margin: 1.5rem auto;
}

/* col-3 */
.about-col3 .img img {
    width: 100%;
    height: auto;
    transition: all 0.7s;
}
.about-col3 .img {
    overflow: hidden;
}
.about-col3 .img:hover img{
    transform: scale(1.1);
}
.about-col3 > h2,p {
    margin: 1.5rem auto;
}

@media (max-width: 420px) {
    .about {
        padding-left: 1rem !important;
        padding-right: 1rem !important;
    }
}