* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header {
    background-image: url(../Images/background2.png);
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: white;
    position: relative;
    font-family: 'DM Mono', monospace;
    letter-spacing: 0.125rem;
    animation: animation-header 20s alternate;
}
.nav {
    width: 100%;
    height: 4.375rem;
    background-color: black;
    position: fixed;
    z-index: 20;
}
.nav .logo {
    float: left;
    font-size: 3rem;
    line-height: 4rem;
    margin-left: 8rem;
    color: #FFA500;
}

.nav .iteams-nav {
    float:right;
}

.nav .iteams-nav ul {
    list-style-type: none;
    margin-right: 8rem;
}
.nav .iteams-nav ul li{
    display: inline-block;
    line-height: 4rem;
}

.nav .iteams-nav ul li a {
    text-decoration: none;
    color: white;
    padding: 0.125rem 0.25rem;
    border: 1px solid white;
    margin-left: 1.25rem ;
    transition: 200ms;
}

.whenScroll {
    background: #FFA500 !important;
    border-color: #FFA500 !important;
}

.nav .iteams-nav ul li:hover a {
    background: #FFA500	;
    border-color: #FFA500;
}

.sub-menu {
    display: none;
}
.nav .iteams-nav ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background: transparent;
    margin-top: 0px;
    margin-left: 1.25rem;
    animation: move 200ms ease;
}

.nav .iteams-nav ul li:hover .sub-menu ul li {
    display: block;
    line-height: 2.25rem;
}

.nav .iteams-nav ul li:hover .sub-menu ul li:hover a {
    background: #FFA500	;
    border-color: #FFA500;
}
.nav .iteams-nav ul li:hover .sub-menu ul li a {
    text-decoration: none;
    color: white;
    padding: 0.125rem 0.25rem;
    border: 1px solid white;
    transition: 200ms;
    background: black;
}
.title {
    position: absolute;
    top: 50%;
    left: 50%;
    line-height: 80px;
    transform: translate(-50%,-50%);
    text-align: center;
}

.title small {
    text-transform: inherit;
    letter-spacing: 0.25rem;
    color: #FFA500;
    
}

.title h1 {
    font-size: 2.5rem;
    text-transform: uppercase;
    letter-spacing: 0.3125rem;
    animation: animation-h1 6000ms linear both;
}

.title button {
    padding: 15px 35px;
    background: #FFA500;
    border: none;
    cursor: pointer;
    animation: animation-button 6000ms linear both;
    transition: 200ms;
}
.title button a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    transition: 200ms;
}

.title button:hover {
    background-color: white;
}
.title button:hover a {
    color: #FFA500;
}

.checkbtn {
    font-size: 1.5rem;
    float: right;
    line-height: 4rem ;
    margin-right: 8rem;
    cursor: pointer;
    display: none;
}
.nav-checkbox{
    display: none;
}

@keyframes move {
    from {
        transform: translateY(-0.625rem);
    }
}

@keyframes animation-header {
    from {
        background-image: url(../Images/background1.png);
    }
}
  
  @keyframes animation-h1 { 
    0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1000, 0, 0, 1); }
    4.1% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -419.708, 0, 0, 1); }
    8.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -105.491, 0, 0, 1); }
    12.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 18.434, 0, 0, 1); }
    16.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 43.356, 0, 0, 1); }
    27.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 7.839, 0, 0, 1); }
    38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -1.037, 0, 0, 1); }
    60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0.025, 0, 0, 1); }
    82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -0.001, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  
  @keyframes animation-button { 
    0% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 100, 0, 1); }
    4.1% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 41.971, 0, 1); }
    8.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 10.549, 0, 1); }
    12.11% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -1.843, 0, 1); }
    16.12% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -4.336, 0, 1); }
    27.23% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.784, 0, 1); }
    38.34% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0.104, 0, 1); }
    60.56% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, -0.002, 0, 1); }
    82.78% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); }
    100% { transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); } 
  }
  
  
@media (max-width: 1296px) {
    .nav .logo {
        font-size: 2rem;
    }
    .nav .iteams-nav ul li a {
        padding: 0.1rem 0.15rem;
        margin-left: 0.7rem ;
        font-size: 0.7rem;
    }
    .title small {
        text-transform: inherit;
        letter-spacing: 0.25rem;
        color: #FFA500;
        
    }
    .title h1 {
        font-size: 2rem;
        letter-spacing: 0.2rem;
    }
    .title button {
        padding: 10px 28px;
    }
    .title button a {
        font-size: 0.7rem;
    }
    .nav .iteams-nav ul li:hover .sub-menu ul li {
        line-height: 1.75rem;
    }
    .nav .iteams-nav ul li:hover .sub-menu {
        margin-top: -1rem;
        margin-left: 1rem;
    }

}

/* @media (max-width: 1017px) {
    .nav .logo {
        font-size: 1.5rem;
    }
    .nav .iteams ul li a {
        padding: 0.075rem 0.125rem;
        margin-left: 0.525rem ;
        font-size: 0.525rem;
    }
    .title small {
        letter-spacing: 0.1875rem;
    }
    .title h1 {
        font-size: 1.5rem;
        letter-spacing: 0.05rem;
    }
    .title button {
        padding: 7.5px 21px;
    }
    .title button a {
        font-size: 0.525rem;
    }
    .nav .iteams ul li:hover .sub-menu ul li {
        line-height: 1.25rem;
    }
    .nav .iteams ul li:hover .sub-menu {
        margin-top: -1.25rem;
        margin-left: 0.75rem;
    }
} */
@media (max-width:1017px) {
    .checkbtn {
        display: block;
    }
    .iteams-nav{
        position: fixed;
        width: 35%;
        height: 100vh;
        background: black;
        right: 0;
        top: 50px;
        right: -50px;
        transition: 500ms;
    } 
    .iteams-nav > ul > li {
        display: block;
        margin-left: 0px;
    } 
    .iteams-nav > ul {
        width: 50%;
    }
    .nav .iteams-nav ul li a {
        padding: 0.1rem 0.2rem;
        margin-left: 0.7rem ;
        font-size: 0.8rem;
    }
    .nav .iteams-nav ul li:hover .sub-menu {
        margin-top: -1rem;
        margin-left: 1rem;
    }
    .nav-checkbox:checked ~ .iteams-nav {
        transform: translateX(1000px);
        transition: 2000ms;
    }
    .title {
        line-height: 60px;
    }
    .nav .iteams-nav ul li{
        line-height: 5rem;
    }
}
@media (max-width:420px) {
    .checkbtn {
        display: block;
    }
    .iteams-nav{
        position: fixed;
        width: 35%;
        height: 100vh;
        background: black;
        right: 0;
        top: 50px;
        right: -5px;
        transition: 500ms;
    } 
    .iteams-nav > ul > li {
        display: block;
        margin-left: 0px;
    } 
    .iteams-nav > ul {
        width: 50%;
    }
    .nav .iteams-nav ul li a {
        padding: 0.1rem 0.2rem;
        margin-left: 0.7rem ;
        font-size: 0.8rem;
    }
    .nav .iteams-nav ul li:hover .sub-menu {
        margin-top: -1rem;
        margin-left: 1rem;
    }
    .nav-checkbox:checked ~ .iteams-nav {
        transform: translateX(1000px);
        transition: 2000ms;
    }
    .title {
        line-height: 40px;
    }
    .nav .iteams-nav ul li{
        line-height: 3.5rem;
    }
    .nav .logo {
        font-size: 1rem;
        margin-left: 1rem;
    }
    .checkbtn {
        font-size: 1rem;
        margin-right: 1rem;

    }
}
  

  