*{
    margin: 0;
    padding: 0;
}
.plan {
    padding-top: 5rem;
    padding-bottom: 5rem;
    font-family: 'DM Mono', monospace;
    padding-left: 8rem;
    padding-right: 8rem;
    background: #F8F8FF;
    
}
.plan-text {
    width: 750px;
    margin-bottom: 2rem;
    text-align: center;
}
.plan-text p:nth-child(1) {
    color: #FFA500;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    margin-bottom: 1.2rem;
}
.plan-text h2 {
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 1.2rem;
}
.plan .plan-wrapper {
    display: flex;
    justify-content: center;
}


.plan-iteams {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(10rem,1fr));
    
}
.plan-iteam {
    border: 1px solid rgb(180, 171, 171);
    margin-bottom: 0;
}
.plan-iteam-header {
    padding: 2rem 4rem;
    font-size: 1rem;
    line-height: 1rem;
    background: rgb(48, 36, 36);
    color: white;
    transition: 1000ms;
}
.plan-iteam-header img {
    width: 2.5rem;
    height: 2.0rem;
    color: white;
}
.plan-iteam-header:hover {
    background: #FFA500;
}
.plan-iteam-content {
    padding: 2rem 4rem 2rem;
    line-height: 1.2rem;
}
.plan-iteam button {
    margin-left: 4rem;
    padding: 0.6rem 1.8rem;
    text-align: center;
    background: transparent;
    border: 1.4px solid black;
    font-weight: 550;
    margin-bottom: 2rem;
    transition: 1000ms;
}
.plan-iteam button:hover {
    border-color: #FFA500;
}

.plan-iteam button:hover .plan-iteam-header{
    border-color: #FFA500;
}
.plan-iteam-content p:nth-child(1) {
    font-size: 40px;
    margin-bottom: 2rem;
}
.plan-iteam-content p:nth-child(1) .sup{
    font-size: 25px;
}
.plan-iteam-content p:nth-child(1) .sub{
    font-size: 25px;
}
.plan-iteam-content> p {
    font-size: 0.8rem;
}

@media (max-width: 420px) {
    .plan {
        padding-left: 1rem;
        padding-right: 1rem;
    }
}
@media (max-width: 1066px) {
    .plan-iteam-content {
        padding: 2rem 2rem 2rem;
        line-height: 1rem;
    }
    .plan-iteam button {
        margin-left: 2rem;
    }
}